/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Oswald', sans-serif;
  color: #444;
}

nav ul a,
nav .brand-name {
  color: #fff;
}

nav {
  background-color: #1a6785;
}

.brand-name {
  font-size: 50px;
  font-family: 'Teko', sans-serif;
}

/* .brand-name2 {
  font-size: 50px;
font-family: 'Fjalla One',
sans-serif;
} */

div.card-reveal.rvl {
  background-color: #bdbdbd;
}

div.nav-soc {
  margin-top: 10px;
}

.card {
  opacity: 0.1;
}

.par {
  max-width: 100%;
}

.tech, .creators {
  font-size: 14px;
}

#hi {
  text-align: right;
}

/* .social {
  color: #444;
} */

#name-primary {
  /* color: #61dafb; */
  font-size: 80px;
  /* opacity: 1.0; */
  font-family: 'Teko', sans-serif;
}

/* .primary-icon, .title {
  color: #61dafb;
} */

.title, a.social, .skills {
    font-family: 'Teko', sans-serif;
}

#headshot {
  width: auto;
  /* height: 100px; */
}

.skills {
  font-size: 30px;
  /* color: #ff5722; */
}

a.social {
  font-size: 25px;
}

.social-icon {
  width: 50px;
  float: right;
  padding-left: 10px;
}

.social-icon-foot {
  width: 50px;
  float: left;
  padding-left: 10px;
}

a {
  color: #444;
}

p {
  font-size: 18px;
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

img#headshot {
  margin-top: 25.810px;
}

footer.page-footer {
  margin: 0;
  height: 50px;
  /* background-color: #fff; */
  /* color: #444; */
}

.footer-copyright {
  padding-bottom: 0px;
}

.copy {
  padding-top: 5px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

